.digital-watch {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    min-width: 680px;
}
.digital-watch .ddd,
.digital-watch .hh,
.digital-watch .mm,
.digital-watch .ss {
	position: relative;
	display: inline-block;
	margin: 2.5px;
	font-size: 0;
}

.digital-watch .ddd::after,
.digital-watch .hh::before,
.digital-watch .hh::after,
.digital-watch .mm::before,
.digital-watch .mm::after {
	content: '';
	position: absolute;
	right: -4%;
	width: 7.5px;
	height: 7.5px;
	background-color: #cccccc;
}
.digital-watch .ddd::after {
	top: 90px;
}
.digital-watch .hh::before,
.digital-watch .mm::before {
	top: 30px;
}
.digital-watch .hh::after,
.digital-watch .mm::after {
	top: 67.5px;
}
.digital-watch svg {
	display: inline-block;
	margin: 10px;
}
.digital-watch svg .segment {
	fill: rgba(0,0,0,.15);
	transition: .3s ease-in-out;
}
.digital-watch svg.num-1 .b,
.digital-watch svg.num-1 .c,

.digital-watch svg.num-2 .a,
.digital-watch svg.num-2 .b,
.digital-watch svg.num-2 .d,
.digital-watch svg.num-2 .e,
.digital-watch svg.num-2 .g,

.digital-watch svg.num-3 .a,
.digital-watch svg.num-3 .b,
.digital-watch svg.num-3 .c,
.digital-watch svg.num-3 .d,
.digital-watch svg.num-3 .g,

.digital-watch svg.num-4 .b,
.digital-watch svg.num-4 .c,
.digital-watch svg.num-4 .f,
.digital-watch svg.num-4 .g,

.digital-watch svg.num-5 .a,
.digital-watch svg.num-5 .c,
.digital-watch svg.num-5 .d,
.digital-watch svg.num-5 .f,
.digital-watch svg.num-5 .g,

.digital-watch svg.num-6 .a,
.digital-watch svg.num-6 .c,
.digital-watch svg.num-6 .d,
.digital-watch svg.num-6 .e,
.digital-watch svg.num-6 .f,
.digital-watch svg.num-6 .g,

.digital-watch svg.num-7 .a,
.digital-watch svg.num-7 .b,
.digital-watch svg.num-7 .c,

.digital-watch svg.num-8 .a,
.digital-watch svg.num-8 .b,
.digital-watch svg.num-8 .c,
.digital-watch svg.num-8 .d,
.digital-watch svg.num-8 .e,
.digital-watch svg.num-8 .f,
.digital-watch svg.num-8 .g,

.digital-watch svg.num-9 .a,
.digital-watch svg.num-9 .b,
.digital-watch svg.num-9 .c,
.digital-watch svg.num-9 .d,
.digital-watch svg.num-9 .f,
.digital-watch svg.num-9 .g,

.digital-watch svg.num-0 .a,
.digital-watch svg.num-0 .b,
.digital-watch svg.num-0 .c,
.digital-watch svg.num-0 .d,
.digital-watch svg.num-0 .e,
.digital-watch svg.num-0 .f {
	fill: #cccccc;
}